.pagination {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;

   &__item {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      border: 1px solid var(--color_border);
      border-radius: 4px;
      font: 500 14px/1.2 "Poppins";
      background-color: var(--color_pagination);
      transition: all 0.2s ease-in-out;

      &:hover {
         background-color: var(--color_primary);
         color: var(--color_base);
      }

      &[data-type="more"] {
         border: none;
         background-color: transparent;

         &:hover {
            color: var(--color_primary);
         }
      }

      &.active {
         background-color: var(--color_primary);
         color: var(--color_base);
      }
   }
}
